@import url('reset.css');

body {
    background: #fff;
    color: #000;
    font-family: 'Consolas', '微軟正黑體';
    letter-spacing: 3px;
}

a {
    box-sizing: border-box;
    color: #636363;
    text-decoration: none;
    text-shadow: 0 0 5px #333;
}

footer {
    bottom: 0;
    clear: both;
    overflow: hidden;
    padding: 20px 0;
    background: #dedede;
    letter-spacing: 5px;
    text-align: center;
}

.link {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
}

.link span {
    display: block;

    transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;

    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

li:nth-of-type(1) .link span::after { content:"簡介"; }
li:nth-of-type(2) .link span::after { content:"任務"; }
li:nth-of-type(3) .link span::after { content:"過程"; }
li:nth-of-type(4) .link span::after { content:"資源"; }
li:nth-of-type(5) .link span::after { content:"評估"; }
li:nth-of-type(6) .link span::after { content:"結論"; }

.link span::after {
    display: block;
    text-align: center;

    transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;

    transform: translate3d(0, 105%, 0) rotateX(-90deg);
    -moz-transform: translate3d(0, 105%, 0) rotateX(-90deg);
    -webkit-transform: translate3d(0, 105%, 0) rotateX(-90deg);
}
