@import url('reset.css');

body {
    background: #fff;
    color: #000;
    font-family: 'Consolas', '微軟正黑體';
    letter-spacing: 3px;
}

a {
    box-sizing: border-box;
    color: #636363;
    text-decoration: none;
    text-shadow: 0 0 5px #333;
}

footer {
    bottom: 0;
    clear: both;
    overflow: hidden;
    padding: 20px 0;
    background: #dedede;
    letter-spacing: 5px;
    text-align: center;
}

.link {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
}

.link span {
    display: block;

    transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;
}
