@import url('reset.css');

body {
    background: #fff;
    color: #000;
    font-family: 'Tahoma', 'Helvetica', 'Consolas', '微軟正黑體';
    letter-spacing: 3px;
}

a {
    box-sizing: border-box;
    color: #363636/*#636363*/;
    font-size: 18px;
    text-decoration: none;
    text-shadow: 0 0 5px #333;
}

header {
    height: 100vh;
    overflow: hidden;
}

footer {
    bottom: 0;
    clear: both;
    overflow: hidden;
    padding: 20px 0;
    background: #dedede;
    letter-spacing: 5px;
    text-align: center;
}

.banner{
    height: 100%;
    background: url("../../images/banner.jpg") no-repeat fixed center center;
    background-size: cover;
}

.nav-front-page {
    position: fixed;
    top:0;
    right: 0;
    width: 100%;
    text-align: center;
    background: hsla(0, 0%, 95%, 0.7);
    box-shadow: 0 3px 3px rgba(213, 213, 213, 1);
}

.nav-front-page ul li {
    display: inline-block;
}

.nav-front-page .small-title {
    padding: 15px 0;
    border-bottom: 1px solid #999;

}

.nav-front-page:hover ul {
    display: block !important;
}

.link {
    display: inline-block;
    padding: 10px;
    overflow: hidden;
}

.link span {
    display: block;
    position: relative;
    text-transform: uppercase;

    transition: all 450ms ease-out;
    -moz-transition: all 450ms ease-out;
    -o-transition: all 450ms ease-out;
    -webkit-transition: all 450ms ease-out;

    transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;

    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

li:nth-of-type(1) .link span::after { content:"簡介"; }
li:nth-of-type(2) .link span::after { content:"任務"; }
li:nth-of-type(3) .link span::after { content:"過程"; }
li:nth-of-type(4) .link span::after { content:"資源"; }
li:nth-of-type(5) .link span::after { content:"評估"; }
li:nth-of-type(6) .link span::after { content:"結論"; }

.link span::after {
    display: block;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;

    transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;

    transform: translate3d(0, 105%, 0) rotateX(-90deg);
    -moz-transform: translate3d(0, 105%, 0) rotateX(-90deg);
    -webkit-transform: translate3d(0, 105%, 0) rotateX(-90deg);
}

.link:hover span{
    background: hsla(0, 50%, 100%, 0.6);

    transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
}
